*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@font-face {
    font-family: lovelo;
    src: url(assets/fonts/Lovelo_Black.otf);
}

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/HelveticaWorld-Regular.ttf);
}

html {
    font-size: 62.5%; /** Makes it so that 0.1 rem = 1 px **/
    overflow: hidden;
}

a {
    all: unset;
}

p {
    cursor: default;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F6EFE8;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.hl_maroon {
    color: #895159;
}

.hl_salmon {
    color: #DEAEA1;
}

.hl_indigo {
    color: #2F2F76;
}

.hl_blue {
    color: #5E5E9B;
}

.size_small {
    font-size: 3rem;
}

.website {
    display: grid;
    /* grid-template-columns: 8% 72% 20%; */
    grid-template-columns: 80% 20%;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: none;
    width: 100%;
    flex-direction: column;
    position: sticky;
    text-align: center;
    align-content: center;
    top: 0;
    height: 100vh;
    background-color: #DEAEA1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side_logo {
    margin-top: 20%;
    width: 35%;
    height: auto;
    align-self: center;
}

.side_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.side_end_item {
    margin-top: auto;
    margin-bottom: 5px;
}

.side_item:hover, .side_end_item:hover {
    cursor: pointer;
}

.side_item:hover {
    .side_title {
        color: #895159;
    }
}

.side_title {
    color: #2F2F76;
    font-family: "helvetica";
    font-size: 1.6rem;
    font-weight: bold;
}

.content {
    padding: 3.5em;
    overflow-y: auto;
}

.content_header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.ham_menu {
    width: 4%;
    height: auto;
}

.ham_menu:hover {
    cursor: pointer;
}

.search_bar {
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.search_logo {
    width: 3%;
    height: auto;
    margin-right: 10px;
}

.search_input {
    width: 90%;
    border: none;
    font-size: 1.6rem;
}

.best_seller_header, .all_items_header {
    display: flex;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.all_items_header {
    gap: 10px;
    margin-bottom: 20px;
}

.medal {
    width: 7%;
    height: auto;
    z-index: -1;
}

.filter {
    width: 5%;
    height: auto;
}

.bs_hr {
    width: 45%;
    height: 5px;
    background-color: #895159;
    border: none;
    border-radius: 10px;
}

.best_seller_title {
    font-family: "lovelo";
    font-size: 4.5rem;
    margin-bottom: 2%;
}

.all_items_title {
    font-family: "lovelo";
    font-size: 3.0rem;
}

.foods_items_title, .snacks_items_title, .drinks_items_title {
    font-family: "lovelo";
    font-size: 3.0rem;
    display: none;
}

.best_seller_area {
    position: relative;
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.best_seller {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}

.soto_best_seller {
    background-color: #F2C37E;
}

.ma_best_seller {
    background-color: #D9C4B0;
}

.ch_best_seller {
    background-color: #F4B695;
}

.soto_logo {
    position: absolute;
    width: 12%;
    height: auto;
    left: 23%;
    bottom: 70%;
}

.ma_logo {
    position: absolute;
    width: 15%;
    height: auto;
    left: 44%;
    bottom: 73%;
}

.ch_logo {
    position: absolute;
    width: 12%;
    height: auto;
    left: 65%;
    bottom: 73%;
}

.soto_name, .ma_name, .ch_name {
    font-family: "lovelo";
    font-size: 2.5rem;
    margin-top: 28%;
    color: #F6EFE8;
}

.favorites {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.fav_logo {
    width: 16%;
}

.fav_num {
    font-family: "helvetica";
    font-size: 2.2rem;
    font-weight: bold;
    color: #2F2F76;
}

.price {
    font-family: "helvetica";
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 25px;
    color: #895159;
}

.best_seller:hover {
    cursor: pointer;

    .bs_name {
        color: #895159;
    }
}

.filter:hover {
    cursor: pointer;
}

.menu_grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 320px 320px 320px;
    grid-gap: 40px 10px;
}

.product {
    background-color: #FFFCF5;
    width: 200px;
    height: 320px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.product_img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product_title {
    font-family: "lovelo";
    font-size: 1.8rem;
    color: #895159;
}

.product_price {
    font-family: "helvetica";
    font-size: 1.6rem;
}

.product_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.rating_img {
    width: 15%;
    height: auto;
}

.rating_value {
    font-family: "helvetica";
    font-size: 1.6rem;
    font-weight: bold;
    color: #895159;
}

.cart_button {
    width: 50%;
    padding: 0.4em;
    border: none;
    border-radius: 20px;
    background-color: #895159;
    color: white;
    font-family: "helvetica";
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
    margin-top: 10%;
}

.cart {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}