*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@font-face {
    font-family: lovelo;
    src: url(assets/fonts/Lovelo_Black.otf);
}

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/HelveticaWorld-Regular.ttf);
}

html {
    font-size: 62.5%; /** Makes it so that 0.1 rem = 1 px **/
    overflow: hidden;
}

a {
    all: unset;
}

p {
    cursor: default;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F6EFE8;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.hl_maroon {
    color: #895159;
}

.hl_salmon {
    color: #DEAEA1;
}

.hl_indigo {
    color: #2F2F76;
}

.hl_blue {
    color: #5E5E9B;
}

.size_small {
    font-size: 3rem;
}

.website {
    display: grid;
    grid-template-columns: 8% 72% 20%;
    width: 100vw;
    height: 100vh;
}

/* TODO: fix sidebar not being in center */
.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    text-align: center;
    align-content: center;
    top: 0;
    height: 100vh;
    background-color: #DEAEA1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side_logo {
    width: 50%;
    height: auto;
    align-self: center;
}

.content {
    padding: 3.5em;
    overflow-y: auto;
}

.search_bar {
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 40px;
}

.search_logo {
    width: 3%;
    height: auto;
    margin-right: 10px;
}

.search_input {
    width: 90%;
    border: none;
    font-size: 1.6rem;
}

.best_seller_header {
    display: flex;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.medal {
    position: absolute;
    width: 8%;
    height: auto;
    z-index: -1;
}

.bs_hr {
    width: 45%;
    height: 5px;
    background-color: #895159;
    border: none;
    border-radius: 10px;
}

.best_seller_title {
    font-family: "lovelo";
    font-size: 4.5rem;
    margin-left: 5%;
    margin-bottom: 2%;
}

.best_seller_area {
    position: relative;
    display: flex;
    width: 100%;
    height: 39%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.best_seller {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}

.soto_best_seller {
    background-color: #F2C37E;
}

.ma_best_seller {
    background-color: #D9C4B0;
}

.ch_best_seller {
    background-color: #F4B695;
}

.soto_logo {
    position: absolute;
    width: 15%;
    height: auto;
    left: 15%;
    bottom: 70%;
}

.ma_logo {
    position: absolute;
    width: 18%;
    height: auto;
    left: 43%;
    bottom: 73%;
}

.ch_logo {
    position: absolute;
    width: 14%;
    height: auto;
    left: 70%;
    bottom: 73%;
}

.soto_name, .ma_name, .ch_name {
    font-family: "lovelo";
    font-size: 2.5rem;
    margin-top: 28%;
    color: #F6EFE8;
}

.favorites {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.fav_logo {
    width: 16%;
}

.fav_num {
    font-family: "helvetica";
    font-size: 2.2rem;
    font-weight: bold;
    color: #2F2F76;
}

.price {
    font-family: "helvetica";
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 25px;
    color: #895159;
}

.best_seller:hover {
    cursor: pointer;

    .bs_name {
        color: #895159;
    }
}

.cart {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}